@model NoteAddViewModel
@{
    ViewData["Title"] = "Add Page"; 
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
    <h1>Add Note</h1>
    @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var errorMessage in ViewBag.ErrorMessages)
                {
                    <li>@errorMessage</li>
                }
            </ul>
        </div>
    }
    <form method="post">
        <div class="form-group">
            <label>Title</label>
            <div class="input-group">
                <input type="text" class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger input-group-text"></span>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label>Content</label>
            <div class="input-group">
                <textarea class="form-control" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger input-group-text"></span>
            </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</body>
</html>