﻿@model PaginationViewModel
@{
    ViewData["Title"] = "Home Page"; 
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        /* Add your custom CSS styles here */
        th, td {
            padding: 5px; /* Add padding to create space between columns */
        }
    </style>
</head>
<body>
    <h1>Welcome to the Notes App!</h1>
    <p>Start taking notes and stay organized.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Add" style="margin-bottom: 20px; float: left;">Create a new note</a>
    <div style="text-align: right; justify-content:center; float: right;">
        <input type="text" name="search" id="searchInput" placeholder="Search" />
        <a class="btn btn-primary" onclick="setSearchRoute()"><b>Search</b></a>
    </div>
    <br/>
    @if (Model.List.Count == 0)
    {
        <div class="center">
            <p>Notes Not Found.</p>
        </div>
    }
    else
    {
        <table style="width: 100%; table-layout: fixed; border: 1px solid black;">
            <thead>
                <tr>
                    <th style="width: 25%; border: 1px solid black;"><b>Title</b></th>
                    <th style="width: 25%; border: 1px solid black;"><b>Content</b></th>
                    <th style="width: 25%; border: 1px solid black;"><b>Created On</b></th>
                    <th style="width: 25%; border: 1px solid black;"><b>Last Updated</b></th>
                    <th></th>
                </tr>
            </thead>
                @foreach (var note in Model.List)
                {
                    <tr>
                        <td style="width: 25%; border: 1px solid black;">@note.Title</td>
                        <td style="width: 25%; border: 1px solid black;">@(note.Content.Length > 30 ? note.Content.Substring(0, 30) + "..." : note.Content)</td>
                        <td style="width: 25%; border: 1px solid black;">@note.CreatedAt.ToString("yyyy-MM-dd")</td>
                        <td style="width: 25%; border: 1px solid black;">@note.UpdatedAt.ToString("yyyy-MM-dd")</td>
                        <td style="1px solid black;">
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@note.Id"><b>Detail</b></a>
                        </td>
                    </tr>
                }
        </table>
        <div class="pagination">
            @if (Model.NotesSize > 10)
            {
                @for (int i = 1; i <= Math.Ceiling((double)Model.NotesSize / 10); i++)
                {
                    <a asp-controller="Home" asp-action="Index" asp-route-page=@i class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
                }
            }
        </div>
    }
</body>
</html>
