html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center {
    display: flex;
    justify-content: center;
}

#searchInput {
    padding: 5px;
    s border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item{
    width: 50%;
}

.login-logout-card a.nav-link{
    text-align: center;
    padding: 1rem;
    font-size :1rem;
    color : #ff0000;
}

.login-logout-card .card-body{
    padding : 10px 20px;
}

/*Pagination*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.pagination a.active {
    background-color: #007bff;
    color: #fff;
}